<div>
  <br>
    <div class="container">
        <div class="container">
          <div  fxLayout="column" fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
            <div class="blocks" >
              <h3></h3>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
           <h3>Recent Reports</h3>
          </mat-card-title>
          <mat-card-content>
              <div class="example-container mat-elevation-z8">
                  <mat-table #table [dataSource]="dataSource">
                
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id }} </mat-cell>
                  </ng-container>

                    <ng-container matColumnDef="title">
                      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date_created">
                      <mat-header-cell *matHeaderCellDef> Date of Report</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.date_created | date:'fullDate'}} </mat-cell>
                    </ng-container>
      

                    <ng-container matColumnDef="name_of_device">
                      <mat-header-cell *matHeaderCellDef> Name of Device </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name_of_device}} </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="name_of_device">
                      <mat-header-cell *matHeaderCellDef></mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <a   
                          (click)="deletePost(element.position)" type="button">
                          <mat-icon class="icon">delete</mat-icon>
                        </a> 
                      </mat-cell>
                    </ng-container>      -->
                                 
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div> 
          </mat-card-content>
        </mat-card>
      </div>
    </div>
 </div>
 </div>