<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card" >
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
         <h3>Report Electrical Issue</h3>
         <br/><br/>
         <div class="container">
                <div class="container">
                  <div  fxLayout="column" fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
                    <div class="blocks" *ngIf="message">
                     <h3>{{message}}</h3>
                    </div>
                </div>
            </div>
          </div>
        </mat-card-title>
        <mat-card-content>
            <form class="example-form" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
                <mat-form-field>
                    <input matInput 
                        placeholder="Title" 
                        type="text"
                        [(ngModel)] ="issue.title"
                        name="title"
                        #issueTitle="ngModel"
                        minlength="2"
                        required>
                        <div *ngIf="issueTitle.errors?.required && issueTitle.touched" class="alert alert-danger">
                                Title is required
                              </div>
                             <div *ngIf="issueTitle.errors?.minlength && issueTitle.touched"  class="alert alert-danger">
                               Character must be at least 2 required
                             </div>
                </mat-form-field>
                <mat-form-field>
                    <input matInput 
                        placeholder="Details of Issue" 
                        type="text"
                        [(ngModel)] ="issue.body"
                        name="body"
                        #issueBody="ngModel"
                        minlength="2"
                        required>
                    <div *ngIf="issueBody.errors?.required && issueBody.touched" class="alert alert-danger">
                        Details of Issue is required
                    </div>
                    <div *ngIf="issueBody.errors?.minlength && issueBody.touched"  class="alert alert-danger">
                        Character must be at least 2 required
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <input matInput 
                        placeholder="Reporter Name" 
                        type="text"
                        [(ngModel)] ="issue.reporter_name"
                        name="reporter_name"
                        #issueReporterName="ngModel"
                        minlength="10" 
                        required>
                        <div *ngIf="issueReporterName.errors?.required && issueReporterName.touched" class="alert alert-danger">
                                Name of Reporter of Issue is required
                        </div>
                        <div *ngIf="issueReporterName.errors?.minlength && issueReporterName.touched"  class="alert alert-danger">
                             Character must be 10 characters
                        </div>
                </mat-form-field>
                <mat-form-field>
                        <input matInput 
                            [matDatepicker]="picker" 
                            placeholder="Choose a date"
                            [(ngModel)] ="issue.date_created"
                            name="date_created"
                            #issueDateCreated="ngModel"
                            required>
                            <div *ngIf="issueDateCreated.errors?.required && issueDateCreated.touched" class="alert alert-danger">
                                    Date of Reporting the Issue is required
                            </div>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                 </mat-form-field>
                <mat-form-field>
                        <input matInput 
                            placeholder="Name of Device" 
                            type="text"
                            [(ngModel)] ="issue.name_of_device"
                            name="name_of_device"
                            #issueNameOfDevice="ngModel"
                            minlength="10" 
                            required>
                            <div *ngIf="issueNameOfDevice.errors?.minlength && issueNameOfDevice.touched"  class="alert alert-danger">
                               Character must be 10 characters
                            </div>
                            <div *ngIf="issueNameOfDevice.errors?.required && issueNameOfDevice.touched" class="alert alert-danger">
                                  Name of device is required
                            </div>
                    </mat-form-field>
                <button mat-raised-button type="submit"color="primary" [disabled] = "submitButton">Submit</button>
            </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>